.response-panel {
    border: 1px solid #ddd;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);

    height: 178px;
    background-color: #dceaf4;
    margin: 0 auto;
}

textarea { resize:vertical; }