.table .list-unstyled {
    margin-bottom: 0px;
}

.table .progress {
    margin-bottom: 0px;
}

.progress {
    height: 16px;
}
/* ###################### */
.progress.stopped {
    background-color: #E38986;
}

.progress-bar.stopped {
    background-color: #CF0000;
}
/* ###################### */
.progress.ready {
    background: #F3F781;
    background-color: #F3F781;
}

.progress-bar.ready {
    background-color: #6C1600;
}
/* ###################### */
.progress.running {
    background: #31CD17;
    background-color: #2EFE2E;
}

.progress-bar.running {
    background-color: #6C1600;
}
/* ###################### */
.progress-bar.complete {
    background-color: #7AAB1C;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.row > .top-margin-16 {
    margin-top: 16px;
}

.row > .bottom-margin {
    margin-bottom: 10px;
}

/*
.row > div > button {
    margin-top: 25px;
}*/

.no-right-padding > div {
    padding-right: 0px;
}

textarea {
    resize: vertical;
    font-family: Monospace;
}
