

/* ##################
 *  board properties
 * ##################
 */
.board-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #2F3949;
}

.board-menu {
    margin-bottom: 10px;
}

/* ###################
 *  
 * ###################
 */
.table .list-unstyled {
    margin-bottom: 0px;
}

.table .progress {
    margin-bottom: 0px;
}

.progress {
    height: 20px;
    min-width: 100px;
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
}

/* ######## GREEN ######## */
.progress-bar.initial {
    background-color: #5CB85C;
}

.progress.initial {
    background-color: #81FF81;
}

/* ######### ORANGE ######### */
.progress-bar.crawling {
    background-color: #F0AD4E;
}

.progress.crawling {
    background-color: #FFCB81;
}

/* ######### BLUE ######## */
.progress-bar.cracking {
    background-color: #5BC0DE;
}

.progress.cracking {
    background-color: #84E3FF;
}
/* ########## RED ########## */
.progress-bar.error {
    background-color: #D9534F;
}

.progress.error {
    background-color: #FC837F;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.row > .top-margin-16 {
    margin-top: 16px;
}

.row > .bottom-margin {
    margin-bottom: 10px;
}

/*
.row > div > button {
    margin-top: 25px;
}*/

.padding-4 > div {
    padding: 4px;
}

textarea {
    resize: vertical;
    font-family: Monospace;
}

/* ########################
 * hotlink style definition
 * ########################
 */
.hotlink {
    padding-right: 30px;
    font-family: 'Lato', sans-serif;
    min-width: 320px;
}

.hotlink-base {
    padding: 0;
    margin-bottom: 20px;
    border-radius: 3px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    box-shadow: 0px 3px 0px 0px #dbdfe0;
}

.hotlink-header {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 30%;
    padding: 16px 0px;
    color: #fff;
    text-align: center;
}

.hotlink-body {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 70%;
    background-color: #F8F8F8;
    margin-left: -4px;
}

.hotlink-body > h3 {
    margin-top: 60px;
    margin-left: 16px;
}

.hotlink-header.success {
    background-color: #428BCA;
}

.hotlink-header.task {
    background-color: #6C7681;
}

.hotlink-header.dictionary {
    background-color: #9F90E4;
}

.hotlink-header.error {
    background-color: #F15722;
}

.notify {
    position: absolute;
    top: -8px;
    right: 16px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f86868;
    width: 50px;
    height: 50px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}